 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Universal and Navbar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body{
    background-color:#F2F1E8;
    margin:auto;
    font-family: 'Merriweather', serif;
    box-sizing: border-box; 
}

img {
    align-self: center;  
    max-width: 100%;    
    object-fit: contain;  
    position:relative;  
}

header{
     height:3rem;
}

main{
    display: flex;
    flex-direction:column;
}

.nav-item{
    width:10rem;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    padding-top:.2rem;
    color:#2B2F26 
}

.nav-bar{
    display:flex;
    list-style:none;
    justify-content:space-around;
    background-color:#FFFFFF;
    margin:0;
    width:100%; 
    position: fixed;
    top: 0;
    z-index:100;
    box-shadow: 0px 1px 6px lightgray;
}

.nav-ul{
    display:flex;
    flex:1; 
    list-style:none;
    justify-content:center;
    background-color:#FFFFFF;
    padding:0rem 5rem 0rem 5rem;
}



a:hover{
    transition: all 1s ease;
    color:#CD5D67;
}

a:active{
    transition: all 1s ease;
    color:#968772;
}

.current{
    color:#968772;
}




#logo{
    justify-content:flex-start;
    height: 2.7rem;
    padding:.5rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Navbar~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Title and Motto~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.title-content{
    display:flex;
    align-items: center;
    flex-direction:column; 
}

.us{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.motto{
    font-size: 2.7rem;
    margin: 0;
    font-weight:200;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Flexbox Grid~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.product-display1{
    display: flex;
    height:55vh;
    padding: .8rem;
}

.product-display2{
    display: flex;
    height:35vh;
    padding: .8rem;
}

.image-flexer{
    display:flex;
    margin:.5rem;
}

.prodname{
    color:#F2F1E8;
    font-weight:400;
    font-size:1rem;
    background-color:#2B2F26;
    padding: 1rem; 
    margin:1rem; 
    align-self:flex-end;
}

 
.prod1{
    background-image:url("./images/product-1.jpg"); 
    background-size:cover;
    flex:3;
}

.prod2{
    background-image:url("./images/product-2.jpg");
    background-size:cover;
    flex:1;
}

.prod3{
    background-image:url("./images/product-3.jpg");
    background-size:cover;
    flex:1;
}

.prod4{
    background-image:url("./images/product-4.jpg");
    background-size:cover;
    flex:1;
}

.prod5{
    background-image:url("./images/product-5.jpg");
    background-size:cover;
    flex:1;
}

.prod6{
    background-image:url("./images/product-6.jpg");
    background-size:cover;
    flex:2;
}

.prod7{
    background-image:url("./images/product-7.jpg");
    background-size:cover;
    flex:1;
 }    








 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Indexpage Flexbox Grid~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Start Newsletter CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.newsletter-flexbox{
    display:flex;
    min-height:100vh;
    background-image: url("./images/background-2.jpg");
    justify-content: center; 
    align-items: center;
}

.card{
    display:flex;  
    flex-direction:column;
    height: 60vh;
    width: 50vw;
    background-color:#FFFFFF;
    justify-content:space-around;
    padding:1rem;
    align-items:center;
}


.signup{
    font-size: 1.7rem;
    font-weight:200;
}

.offers{
    font-size: 1.2rem;
    font-weight:400;
}

#nameInput{
    font-size:1.3rem;
    color:#968772;
    border-width: 0px 0px 2px 0px;
    border-color:#968772;
    margin:1rem;
    width:100%;
}

#nameInput:focus{
    border-bottom-color: #967343;
}

#emailInput{
    font-size:1.3rem;
    color:#968772;
    border-width: 0px 0px 2px 0px;
    border-color:#968772;
    margin:1rem;
    width: 100%;
}

#emailInput:focus{
    border-bottom-color: #967343;
}

#signupButton{
    background-color:#968772;
    color:#F2F1E8;
    font-size:1.2rem;
    border-style:none;
    padding:1.3rem 3rem 1.3rem 3rem;
    margin: 1rem;
    max-width: 20rem;
}

#signupButton:hover{
    color:#FFFFFF;
    background-color:#967343;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Newsletter~~~~~`~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~About~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 .newsletter{
    line-height:2.8rem;
    width:100%;
 }

.opener{
    display:flex;
    margin:5rem 20rem 5rem 20rem;
     flex-direction:row; 
      flex-wrap:wrap;  
      position:relative;  
}


.community{
    text-align: center;
    font-size: 4rem;
    padding: 3rem;
    font-weight:350;
    margin-top:2rem;
}


.dedicate{
    margin-bottom:2rem;
}

.mission-statement{
    font-style:italic;
    border-left:2px solid #968772;
    padding: 0rem 2rem 0rem 2rem;
}

.birdhouse{
    height:8rem;
    width:12rem;
    float:left;
}

.leader{
    font-size:2rem;
    font-weight:200;
    width:100%;
    padding: 1rem;
}
 
 .cropper{
    display:flex;
    justify-content:center;
    align-items:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-image:url("./images/background-3.jpg");
    height:30vh;
}  



.centertext{
    font-size:5rem;
    color: #F2F1E8;

}

.closing{
    display:flex;
    margin:1rem 10rem 0rem 20rem;
    flex-direction:row; 
    flex-wrap:wrap;
}

.facility{
    max-width:60%;
}


.shelf{
    height:7rem;
}


table{
    border-collapse:collapse;
    margin-bottom: 5rem;
}


tr, td{
    border-style:solid;
    padding:1rem;   
}

.th{
    text-align:center;
}

.evens{
    background-color:#f9d3b3;
}


aside{
    font-size:.8rem;
    width:18%;
    padding:1rem;
    line-height:1.5rem;
}







/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer for Index and About~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer{
    padding: 2.3rem; 
    color: #F2F1E8;
    background-color:#2B2F26;
    width:100%;
}