/* Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text and Footer: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */
/* font-family: 'Merriweather', serif;
 font-family: 'Roboto', sans-serif;  */


body{
background-color:#F2F1E8;
  margin:auto;
  font-family: 'Merriweather', serif;

}

img {
  align-self: center;
  max-width: 100%;
}

header{
    height:3rem;
}

.nav-item{
     width:10rem;
     text-transform:uppercase;
     font-family: 'Roboto', sans-serif;
     padding-top:.2rem;
     color:#2B2F26
}



.nav-bar{
    display:flex;
    list-style:none;
    justify-content:space-around;
    background-color:#FFFFFF;
    margin:0;
     width:100%; 
    position: fixed;
    top: 0;
    z-index:100;
}

.nav-ul{
    display:flex;
    flex:1; 
    list-style:none;
    justify-content:center;
    background-color:#FFFFFF;
    padding:0rem 5rem 0rem 5rem;
}

#logo{
    justify-content:flex-start;
    height: 2.7rem;
    padding:.5rem;


}




.title-content{
    display:flex;
    align-items: center;
     flex-direction:column; 
}

.us{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.motto{
    font-size: 2.7rem;
    margin: 0;
    font-weight:200;
}

.product-display{
    display:flex; 
    list-style:none;
    flex-shrink:1;
    flex-wrap:wrap;
}

.image-flexer{
    display:flex;   
    flex-shrink:1;   
    align-items:flex-end;
    padding: 1rem;
}


.prod-1{
    position:relative;
}

h3{
position:absolute;
padding-bottom: 2.8rem;
color:#F2F1E8;
font-weight:400;
font-size:1rem;
}

h3 span { 
   background-color:#2B2F26;
    padding: 1rem;  
}


footer{
padding: 2.3rem; 
color: #F2F1E8;
background-color:#2B2F26;
}