/* Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text and Footer: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */
/* font-family: 'Merriweather', serif;
 font-family: 'Roboto', sans-serif;  */

 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Universal and Navbar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body{
    background-color:#F2F1E8;
    margin:auto;
    font-family: 'Merriweather', serif;
    box-sizing: border-box; 
  
}

img {
    align-self: center;  
    max-width: 100%;    
    object-fit: contain;  
    position:relative;  
}

header{
     height:3rem;
}

main{
    display: flex;
    flex-direction:column;
}

.nav-item{
     width:10rem;
     text-transform:uppercase;
     font-family: 'Roboto', sans-serif;
     padding-top:.2rem;
      color:#2B2F26 
}

.nav-bar{
    display:flex;
    list-style:none;
    justify-content:space-around;
    background-color:#FFFFFF;
    margin:0;
     width:100%; 
    position: fixed;
    top: 0;
    z-index:100;
}

.nav-ul{
    display:flex;
    flex:1; 
    list-style:none;
    justify-content:center;
    background-color:#FFFFFF;
    padding:0rem 5rem 0rem 5rem;
}

a:hover{
     color:#CD5D67;
}

a:active{
     color:#968772;
}

.current{
     color:#968772;
}




#logo{
    justify-content:flex-start;
    height: 2.7rem;
    padding:.5rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Navbar~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Title and Motto~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.title-content{
    display:flex;
    align-items: center;
    flex-direction:column; 
}

.us{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.motto{
    font-size: 2.7rem;
    margin: 0;
    font-weight:200;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Flexbox Grid~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.product-display1{
    display: flex;
    justify-content: flex-start;
    height:23rem;
    overflow:hidden;
    /* flex:1; */
    padding:.5rem;
}

.product-display2{
    margin-top:.5rem;
    display: flex;
    justify-content: flex-start;
    height:12.5rem;
    overflow:hidden; 
    margin-bottom:1rem;
    padding: .5rem;
}
 
.image-flexer{
    display:flex;      
    align-items:flex-end; 
  
} 
 
  .prod1{
      flex-basis:60%;  
      padding:.5rem;
}

.prod2{
      flex-basis:20%;
      padding:.5rem;
}

.prod3{
     flex-basis:20%; 
     padding:.5rem;
}

.prod4{
     flex-basis: 20%; 
     padding:.5rem;
}

.prod5{
     flex-basis: 20%;
     padding:.5rem;
}

.prod6{
     flex-basis: 40%; 
     padding:.5rem;
}

.prod7{
     flex-basis: 20%; 
     padding:.5rem;
 }    

h3{
    color:#F2F1E8;
    font-weight:400;
    font-size:1rem;
    position:absolute;   
    z-index: 1;    
}

span { 
    background-color:#2B2F26;
    padding: 1rem;  
}
 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Indexpage Flexbox Grid~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Start Newsletter CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.newsletter-flexbox{
    display:flex;
    min-height:100vh;
    background-image: url("./images/background-2.jpg");
    justify-content: center; 
    align-items: center;
}

.card{
    display:flex;  
    flex-direction:column;
    height: 60vh;
    width: 50vw;
    background-color:#FFFFFF;
    justify-content:space-around;
    padding:1rem;
    align-items:center;
}


.signup{
    font-size: 1.7rem;
    font-weight:200;
}

.offers{
    font-size: 1.2rem;
    font-weight:400;

}

#nameInput{
    font-size:1.3rem;
    color:#968772;
    border-width: 0px 0px 2px 0px;
    border-color:#968772;
    margin:1rem;
    width:100%;
}

#nameInput:focus{
    border-bottom-color: #967343;
}

#emailInput{
    font-size:1.3rem;
    color:#968772;
    border-width: 0px 0px 2px 0px;
    border-color:#968772;
    margin:1rem;
    width: 100%;
}

#emailInput:focus{
    border-bottom-color: #967343;
}

#signupButton{
    background-color:#968772;
    color:#F2F1E8;
    font-size:1.2rem;
    border-style:none;
    padding:1.3rem 3rem 1.3rem 3rem;
    margin: 1rem;
    max-width: 20rem;
}

#signupButton:hover{
    color:#FFFFFF;
    background-color:#967343;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~End of Newsletter~~~~~`~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~About~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 .newsletter{
     line-height:2.8rem;
     width:100%;
      /* overflow:hidden;  */
     /* display:flex; */
     /* flex-direction:column; */
 }

.opener{
    display:flex;
    margin:5rem 20rem 5rem 20rem;
     flex-direction:row; 
      flex-wrap:wrap;  
     /* position:relative;  */
}


.community{
    text-align: center;
    font-size: 4rem;
    padding: 3rem;
    font-weight:350;
    margin-top:2rem;
}


.floater{

}

.dedicate{
    margin-bottom:2rem;
}

.mission-statement{
    font-style:italic;
    border-left:2px solid #968772;
    padding: 0rem 2rem 0rem 2rem;
}

.birdhouse{
    height:8rem;
    width:12rem;
    float:left;
}

.history{
    font-size:2rem;
    font-weight:200;
    padding:2rem 0rem 2rem 0rem;
}

.centerpiece{
    width:100%;
    overflow:hidden;
}










/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer for Index and About~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer{
padding: 2.3rem; 
color: #F2F1E8;
background-color:#2B2F26;
width:100%;
}